/*this is my css file*/

h1 {
  font-family: 'Pacifico', cursive;
  color: rgb(1,22,165);
  text-align: center;
  font-size: 40px;
  margin-bottom: -10px;
}

hr {
  border: 1px solid black;
}

.directions {
  text-align: center;
  font-family: 'Roboto'; sans serif;
}
.container {
  background-color: #A8D6D7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container img {
    border: 2px solid black;
    margin-left: 15px;
}

button {
  width: 150px;
  height: 40px;
  font-size: 18px;
  background-color: #A8D6D7;
  text-align: center;
}

canvas {
  margin-left: 180px;
}
